<div class="centered">
<h3>Palmerton Rod & Gun Club Inc, Palmerton, PA</h3>  

<h3>Directions</h3>

<br>                                                                                
<div class="plaintext">
We are located at 225 Gun Club Road, Palmerton PA 18071 in 
<a href="http://pennsylvania.hometownlocator.com/maps/countymap,cfips,025,c,carbon.cfm" target="_blank">Carbon County</a>, 
<a href="http://en.wikipedia.org/wiki/Carbon_County,_Pennsylvania" target="_blank">Northeast Pennsylvania</a>. 
<br><br><br>
<span style="width:50%; text-align: left;">
Coming on Route 209 from the West, we are 4 miles East of 
<a href="http://www.pahighways.com/exits/I476exits.html" target="_blank">Interstate 476</a>  Exit 74 (Mahoning Valley).
<br><br>
Our Club sign is posted at the junction of Route 209 and <i>Stagecoach Road</i>. 
Turn there , and then turn right on <i>Hazelwood Rd</i>. 
Go to the 2nd road on left, <i>Gun Club Rd</i>, up the hill on left (about 1/8 mile). 
The club building is located at the top of the hill  <!-- face="roman,verdana" -->
( as marked on the map ).
<br><br>
Coming on Route 209 from the East, we are 2 miles West of 
<a href="http://www.countryjunction.com/lehighton.asp" target="_blank">Country Junction</a>.
<br><br>
Turn left on <i>Hazelwood Rd</i> next to <i>Jerry's Small Engine</i>. Continue to the split and keep right on <i>Hazelwood Rd</i>.
Go to the 2nd road on left, <i>Gun Club Rd</i>, up the hill on left (about 1/8 mile). 
The club building is located at the top of the hill  <!-- face="roman,verdana" -->
( as marked on the map ). 
<br><br>
If you are coming from <i>Forest Inn Rd</i><!--  from the South -->, go up <i>Gun Club Rd</i> to the top of the hill.
</span>
</div>
<br>                                                                                

<!-- br><br>
  <div id="map_canvas" style="width: 400px; height: 300px; border: 3px solid White;"></div>
<br -->
<br>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border: 1px solid white;" src="http://maps.google.com/maps/ms?msa=0&amp;msid=207063288003289201236.0004b4910ae3aba7a5656&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=0&amp;z=14&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=207063288003289201236.0004b4910ae3aba7a5656&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=0&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left" target="_blank">Palmeron Rod &amp; Gun Club</a> in a larger map</small>
</div>