<CENTER>
<H1>W3OI &amp; EPA Dstar Data</H1>
</CENTER>

<p>The W3OI Dstar repeaters are now on 147.165 (plus offset of 600 Khz) and
445.025 (minus offset of 5 Mhz). If you want to register for the Gateway or
need information on setting up the radio please visit
<A HREF="https://w3oi.dstargateway.org">the EPA Dstar page</A> as your first step.
Also, if you have Dstar capabilities,please join the Mid-Atlantic regional
net every non-holiday Monday on either the 147.165 or the 445.025 D-Star
repeaters. .<p>
<p>
Our D-Star repeaters are generally linked to the D-Plus Reflector 020 Alpha
and will thusly be linked to several repeaters in the  in Eastern
Pennsylvania, New Jersey and New York areas.</p>
<TD width="14%"> &nbsp;
