<CENTER>
<H1>W3OI &amp; EPA Dstar Data</H1>
</CENTER>

<p>The W3OI Dstar repeaters are now on 147.165 (plus offset of 600 Khz) and 445.025 (minus offset of 5 Mhz).
If you want to register for the Gateway or need information on setting up the radio please visit
<A HREF="https://w3oi.dstargateway.org">the EPA Dstar page</A> as your first step.
Also, if you have Dstar capabilities, please join us for a Mid-Atlantic regional net the second and fourth Tuesdays of each
month on the 147.165 port with a number of other repeaters in Eastern Pennsylvania, New Jersey and New York City area linked in with W3OI.<p>
<TD width="14%"> &nbsp;
