    <center>
    <h2>Lehigh Valley Amateur Radio Club</h2>
    <h2>Ham radio Links</h2>
    <h5>A short list......</h5>
<hr width="60%">
</center>
<table width="100%" border="0">
<tbody><tr><th width="20%"></th>
<th width="80%"></th>
</tr><tr>
 <td>
 </td><td>
  <ul>
  <li>Try the <a href="http://www.hypowerantenna.com/">Hy Power Antenna Company</a> if your looking for some sky wires.  I have one.   They work!
  </li>
  <!-- <li>Looking for a Callsign Plaque?  Try this site:<a href="http://www.WoodNames.net">www.WoodNames.net</a>  Fancy and not too costly.
  </li> -->
</ul>
</td></tr>
<tr>
<td></td><td><ul>
<li>The American Radio Relay League (<a href="http://www.arrl.org">ARRL</a>) Home Page
</li><li><a href="http://www.barcodediscount.com/articles/amateur-radio-resources-scanners.htm">Scanner</a> General Info Page
</li><li>Join the <a href="http://www.amqrp.org">QRP</a> revolution.
</li><li>The official <a href="http://wireless.fcc.gov/uls">FCC ULS</a> system.
</li><li>A compendium of <a href="http://www.answerconnect.com/articles/the-ham-radio-resource-guide">ham radio links.</a>
</li><li>The <a href="http://www.qrz.com/">QRZ</a> Online Callsign Lookup Database
</li><li>The <a href="http://www.dlarc.org/">Delaware-Lehigh</a> ARC, our neighbor to the east.
<!-- <LI>A Cool <A HREF="http://www.hamrad.com/">Graphics Oriented</A> ham site.
<LI>A good <A HREF="http://www.hamradio-online.com/">ham news</A> related site. -->
</li><li>Nice page but don't try it on a <a href="http://www.qsl.net/wa2whv/">SLOW</a> dialup line.  Fractional T1 only....
</li></ul>
</td>
</tr>
<tr><td align="center" colspan="2">
Have any you want to add?  <a href="mailto:n0kia@arrl.net">Send suggestions via e-mail</a>.
</td></tr>
</tbody></table>
<!-- Last edit 21 DEC 13 pfr -->
