
<center>
    <h1>Lehigh Valley Amateur Radio Club<br>
Regular Meeting Location</h1>
</center>
<font size="3">
<p>We meet at the Tri-Clover Fire Company in Orefield.  It's located at:
</p>
<pre>
    4801 Kernsville Rd
    Orefield, PA 18069
</pre>
That's very near the center of downtown Orefield, population 1,283!
<p>
There's a <a href="http://www.google.com/maps?f=q&amp;hl=en&amp;q=4801+Kernsville+Rd.+Orefield,+PA+18069&amp;ie=UTF8&amp;z=14&amp;ll=40.6305,-75.597782&amp;spn=0.047942,0.108232&amp;om=1">map</a> available if you need it.</p><p>
I'll assume you can find route 22 somehow.  From 22 take route 309 north about 3 miles to the traffic light in the middle of Orefield (just past Paul's Hardware).  
Turn left at the light and the fire company is about 0.3 miles on your right, about 0.1 miles past the Post Office.
</p><p>
Welcome to the meeting!
</p>

<center>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.7845584134193!2d-75.59042349457637!3d40.63463295352939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c436e9ee0b5f93%3A0x2ce12a536dc2b32b!2s4801+Kernsville+Rd%2C+Orefield%2C+PA+18069!5e0!3m2!1sen!2sus!4v1425145100652" width="600" height="450" frameborder="1" style="border:1px solid black"></iframe><br /><small>View <a href="https://www.google.com/maps/place/4801+Kernsville+Rd,+Orefield,+PA+18069/@40.634633,-75.5904235,17z/data=!4m7!1m4!3m3!1s0x89c436e9ee0b5f93:0x2ce12a536dc2b32b!2s4801+Kernsville+Rd,+Orefield,+PA+18069!3b1!3m1!1s0x89c436e9ee0b5f93:0x2ce12a536dc2b32b?hl=en" target="_blank">location</a> in a larger map</small>
</center>
