<center>
<H1>Lehigh Valley Amateur Radio Club<BR>2018 Dues</H1>
</center>
<table>
<!--  <TR><TD colspan=2><B>NOTE:</B> These Rates include the remainder of 2009 and all of 2010
<TR><TD colspan=2>&nbsp; -->
<TR><TD><strong>Individual Membership: </strong>
<TD><strong>$20.00
</strong>
<TR><TD><strong>Family Membership: </strong>
<TD><strong>$25.00
</strong>
<TR>
  <TD><strong>Student Membership: </strong>
  <TD><strong>$15.00
  </strong>
  <TR>
    <TD><strong>Special Club Program Donation: </strong>
    <TD><strong>$500.00
    </strong>
  </TABle>
<H3>To pay online, enter your callsign(s) then click the appropriate PayPal button below:</H3>
<TABLE align="Center" border="2" bordercolor="black" BGCOLOR=orange >
<TR align="center"><td><H3>Individual Membership</H3>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="LVARC.W3OI@gmail.com">
<input type="hidden" name="item_name" value="Lehigh Valley ARC Individual Membership - 2017">
<input type="hidden" name="amount" value="20.00">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="return" value="http://www.w3oi.org/paypal/phase2.htm">
<input type="hidden" name="cancel_return" value="http://www.w3oi.org/paypal/cancel.htm">
<input type="hidden" name="currency_code" value="USD">
<table><tr><td>Callsign Please:</td>
<td><input type="text" name="os0" maxlength="20"></td></tr></table>
<center><hr width="50%"></center>
<input type="image" src="https://www.paypal.com/images/x-click-but02.gif" border="0"
name="submit" alt="">
</form>

<TR align="center"><td><H3>Student Membership</H3>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="LVARC.W3OI@gmail.com">
<input type="hidden" name="item_name" value="Lehigh Valley ARC Individual Membership - 2017">
<input type="hidden" name="amount" value="15.00">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="return" value="http://www.w3oi.org/paypal/phase2.htm">
<input type="hidden" name="cancel_return" value="http://www.w3oi.org/paypal/cancel.htm">
<input type="hidden" name="currency_code" value="USD">
<table><tr><td>Callsign Please:</td>
<td><input type="text" name="os0" maxlength="20"></td></tr></table>
<center><hr width="50%"></center>
<input type="image" src="https://www.paypal.com/images/x-click-but02.gif" border="0"
name="submit" alt="">
</form>

<!--<td width="10%">-->
<td><H3>Family Membership</H3>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="LVARC.W3OI@gmail.com">
<input type="hidden" name="item_name" value="Lehigh Valley ARC Family Membership - 2016">
<input type="hidden" name="amount" value="25.00">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="return" value="http://www.w3oi.org/paypal/phase2.htm">
<input type="hidden" name="cancel_return" value="http://www.w3oi.org/paypal/cancel.htm">
<input type="hidden" name="currency_code" value="USD">
<table><tr><td>Callsign Please:</td>
<td><input type="text" name="os0" maxlength="50"></td></tr></table>
<center><hr width="50%"></center>
<input type="image" src="https://www.paypal.com/images/x-click-but02.gif" border="0"
name="submit" alt="">
</form>

<td><H3>Special Donation</H3>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="LVARC.W3OI@gmail.com">
<input type="hidden" name="item_name" value="Lehigh Valley ARC Family Membership - 2016">
<input type="hidden" name="amount" value="500.00">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="return" value="http://www.w3oi.org/paypal/phase2.htm">
<input type="hidden" name="cancel_return" value="http://www.w3oi.org/paypal/cancel.htm">
<input type="hidden" name="currency_code" value="USD">
<table><tr><td>Callsign Please:</td>
<td><input type="text" name="os0" maxlength="50"></td></tr></table>
<center><hr width="50%"></center>
<input type="image" src="https://www.paypal.com/images/x-click-but02.gif" border="0"
name="submit" alt="">
</form>

<TR><TD colspan=3>
I'll use your info from the QRZ callsign database.  If it isn't correct, include correct info in the notes section of your PayPal reply.
</table>
<hr width="90%">
<H3>To pay by mail or at a meeting:</H3>
Download the <A href="/./documents/forms/Membership_Form.pdf">membership form</A>, print it, complete and mail with your check to:<BR>
<pre>
BRIAN SNYDER, KB3QHA
P.O. BOX 3134
EASTON, PA 18043
</PRE>
<BR>Please make any checks payable to Lehigh Valley Amateur Radio Club.
