<center>
<H1>Lehigh Valley Amateur Radio Club<BR>Monthly Program Presentations</H1>

<table >
<TR center><TH colspan=3><font size=3 color=red><B>Some of these are large files.  Dial-ups beware!</B></font></th></tr>
<TR><TD colspan=3>&nbsp;</td></tr>


<tr>
<TD><B>QRP Radio</B>, John Barto AB3LZ, 8/15, PPT, 8.9MB</td>
<TD>&nbsp;</td></td>
<TD><A HREF="programs/QRP.ppt">PPT</A></td></td>
</tr>

<tr>
<TD><B>Using JT65 and JT9 on the HF Bands</B>, John Barto AB3LZ, 2/14 PPTX, 6.3MB</td></td>
<TD>&nbsp;</td></td>
<TD><A HREF="programs/JT65_on_HF.pptx">PPTX</A></td></td>
</tr>

<tr>
<TD><B>Net Control Operations</B>, Paul Ryan, N&Oslash;KIA, 7/12, PPT, 1.9MB</td></td>
<TD>&nbsp;</td></td>
<TD><A HREF="programs/NCS_Ops.ppt">PPT</A></td></td>
</tr>

<tr>
<TD><B>Propagation Charts</B>, Rod Wolfe, N3XG, 1/05, PPT, 1.9MB</td>
<TD>&nbsp;</td>
<TD><A HREF="programs/propagation/PropIdxSWComm.ppt">PPT</A></td>
</tr>

<tr>
<TD><B>Echolink</B>, Bob Yankovich, N3QZR, 8/04 , PPT, 961KB</td>
<TD>&nbsp;</td>
<TD><A HREF="http://w3oi.dyndns.org:1091/w3oi/data/Echolink.ppt">PPT</A></td>
</tr>

<tr>
<TD><B>Aviation Radio</B>, Paul F. Ryan, N&Oslash;KIA, 7/04, PPT, 2.6MB</td>
<TD>&nbsp;</td>
<TD><A HREF="http://w3oi.dyndns.org:1091/w3oi/data/AviationRadio.ppt">PPT</A></td>
</tr>

<tr>
<TD><B>Crossband Repeating</B>, Paul F. Ryan, N&Oslash;KIA, 7/03, PPT, 288KB</td>
<TD>&nbsp;</td>
<TD><A HREF="http://w3oi.dyndns.org:1091/w3oi/data/xband-rpt.ppt">PPT</A></td>
</tr>

<tr>
<TD>Icom Crossband Pamphlet</td>
<TD>&nbsp;</td>
<TD><A HREF="http://w3oi.dyndns.org:1091/w3oi/data/xband-rpt.pdf">PDF</A></td>
</tr>

<tr>
<TD><B>EMP</B>, Chuck Ballard, WB6CDY, PDF, 937KB</td>
<TD>&nbsp;</td>
<TD><A HREF="programs/EMP-PDF.pdf">PDF</A></td>
</tr>


</TABlE>

<br />

<P>
You may need a program viewer for the PowerPoint slides.  Here's a <A HREF="http://www.microsoft.com/downloads/details.aspx?FamilyID=428d5727-43ab-4f24-90b7-a94784af71a4&displaylang=en">
Link</A> to the PowerPoint 2003 Viewer download page.

<HR width="10%">

You may need a PDF viewer for the PDF files.  Here's a <A HREF="http://www.adobe.com/products/acrobat/readstep2.html">Link</A> to the Adobe Reader page.

<HR width="10%">

</CENTER>
