<center>
<b>LVARC/ARES/RACES Callup Roster</b>
<p>
<table>
<tbody>
 <tr valign="top">
 <td>
     <table border="3" bgcolor="aqua">
     <tbody>
     <tr>
  <th align="left">Call</th>
  <th align="left">Name</th>
  <th align="left">Status
  </th>
</tr>
<tr><td>KC3AFU</td><td>Jim</td><td>&nbsp;</td></tr>
<tr><td>W3AMC</td><td>Dave</td><td>&nbsp;</td></tr>
<tr><td>KC3AMC</td><td>Tony</td><td>&nbsp;</td></tr>
<tr><td>KD3AR</td><td>Jeff</td><td>&nbsp;</td></tr>
<tr><td>K3ARI</td><td>Tom</td><td>&nbsp;</td></tr>
<tr><td>K3ATX</td><td>Carl</td><td>&nbsp;</td></tr>
<tr><td>KE3AW</td><td>Bob</td><td>&nbsp;</td></tr>
<tr><td>KC3BFO</td><td>Dave</td><td>&nbsp;</td></tr>
<tr><td>KC3BLE</td><td>Ken</td><td>&nbsp;</td></tr>
<tr><td>KC3BLF</td><td>Mike</td><td>&nbsp;</td></tr>
<tr><td>WB6CDY</td><td>Chuck</td><td>&nbsp;</td></tr>
<tr><td>KC3CXV</td><td>Steve</td><td>&nbsp;</td></tr>
<tr><td>W3DEK</td><td>Dave</td><td>&nbsp;</td></tr>
<tr><td>KC3DHB</td><td>Jared</td><td>&nbsp;</td></tr>
<tr><td>W3DLH</td><td>Don</td><td>&nbsp;</td></tr>
<tr><td>KC9DQV</td><td>Jack</td><td>&nbsp;</td></tr>
<tr><td>KC3DUA</td><td>Joe</td><td>&nbsp;</td></tr>
<tr><td>KC3EFD</td><td>Rob</td><td>&nbsp;</td></tr>
<tr><td>W3EFT</td><td>Ed</td><td>&nbsp;</td></tr>
<tr><td>WA1ELA</td><td>Don</td><td>&nbsp;</td></tr>
<tr><td>W3GRD</td><td>Gary</td><td>&nbsp;</td></tr>
<tr><td>N3GRH</td><td>Dave</td><td>&nbsp;</td></tr>
<tr><td>KB3GZV</td><td>Robin</td><td>&nbsp;</td></tr>
<tr><td>KB3GZW</td><td>Dorian</td><td>&nbsp;</td></tr>
<tr><td>KB3HMK</td><td>Phil</td><td>&nbsp;</td></tr>
<tr><td>AA3IX</td><td>Carl</td><td>&nbsp;</td></tr>
<tr><td>WB3JSZ</td><td>Bob</td><td>&nbsp;</td></tr>
<tr><td>KW3K</td><td>Brian</td><td>&nbsp;</td></tr>
    </tbody>
    </table>
    </td>
    <td width="20px">
    </td><td>
    <table border="3" bgcolor="aqua">
    <tbody>
    <tr>
   <th align="left">Call</th>
   <th align="left">Name</th>
   <th align="left">Status
   </th>
</tr>
<tr><td>NØKIA</td><td>Paul</td><td>&nbsp;</td></tr>
<tr><td>AB3LZ</td><td>John</td><td>&nbsp;</td></tr>
<tr><td>AK3M</td><td>Mark</td><td>&nbsp;</td></tr>
<tr><td>N3MFT</td><td>Jeff</td><td>&nbsp;</td></tr>
<tr><td>KB3MJZ</td><td>Mike</td><td>&nbsp;</td></tr>
<tr><td>WF2O</td><td>Joe</td><td>&nbsp;</td></tr>
<tr><td>N3OV</td><td>Joe</td><td>&nbsp;</td></tr>
<tr><td>N2OWE</td><td>George</td><td>&nbsp;</td></tr>
<tr><td>KB3QHA</td><td>Brian</td><td>&nbsp;</td></tr>
<tr><td>W3QXI</td><td>Charlie</td><td>&nbsp;</td></tr>
<tr><td>N3RPV</td><td>Chris</td><td>&nbsp;</td></tr>
<tr><td>KE3SP</td><td>Walt</td><td>&nbsp;</td></tr>
<tr><td>N3SQV</td><td>John</td><td>&nbsp;</td></tr>
<tr><td>W3TNT</td><td>Stephen</td><td>&nbsp;</td></tr>
<tr><td>KB3TYE</td><td>Alan</td><td>&nbsp;</td></tr>
<tr><td>KB3UIT</td><td>Ed</td><td>&nbsp;</td></tr>
<tr><td>N3ULR</td><td>Mark</td><td>&nbsp;</td></tr>
<tr><td>KB3UZE</td><td>Matthew</td><td>&nbsp;</td></tr>
<tr><td>KB3VDB</td><td>Hadrian</td><td>&nbsp;</td></tr>
<tr><td>NØVGA</td><td>Don</td><td>&nbsp;</td></tr>
<tr><td>KB3VNS</td><td>John</td><td>&nbsp;</td></tr>
<tr><td>KB3VXR</td><td>Tom</td><td>&nbsp;</td></tr>
<tr><td>KX3W</td><td>Bob</td><td>&nbsp;</td></tr>
<tr><td>KC1WE</td><td>Rex</td><td>&nbsp;</td></tr>
<tr><td>N3WGH</td><td>Doug</td><td>&nbsp;</td></tr>
<tr><td>KU3X</td><td>Barry</td><td>&nbsp;</td></tr>
<tr><td>N3XG</td><td>Rod</td><td>&nbsp;</td></tr>
<tr><td>KB3YGT</td><td>Don</td><td>&nbsp;</td></tr>
    </tbody>
    </table>
    </td>
    <td width="20px">
    </td><td>
    <table border="3" bgcolor="aqua">
    <tbody>
    <tr>
   <th align="left">Call</th>
   <th align="left">Name</th>
   <th align="left">Status
   </th>
</tr>
<tr><td>KB3YOS</td><td>Judy</td><td>&nbsp;</td></tr>
<tr><td>KB3YOT</td><td>Scott</td><td>&nbsp;</td></tr>
<tr><td>KB3ZMA</td><td>Myles</td><td>&nbsp;</td></tr>
<tr><td>N3ZXA</td><td>Concepcion</td><td>&nbsp;</td></tr>
<tr><td></td><td></td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </tbody>
      </table>
  </td></tr></tbody>
</table>
</p>
      <b>Check In Status: </b> √ = Regular,  E = Early,  T = w/Traffic, N = New,  NC = Net Control
</center>
<font size="1">
<center>Published: 23 Feb 2015</center>
