<center>
<table>
<tbody><tr><td align="center" colspan="3"><h1>2015 Net Control Ops</h1>
</td></tr><tr><td><em><strong>January 2015</strong></em></td><td><em><strong>May 2015</strong></em></td><td><em><strong>September 2015
</strong></em></td></tr><tr><td>January 5 --- Mark (AK3M)</td><td>May 4 --- Mark (AK3M)</td><td>September 7 -- Labor Day (No Net)
</td></tr><tr><td>January  12 --- Brian (KW3K)</td><td>May 11 --- Jeff (N3MFT)</td><td>September 14 --- Robin (KB3GZV)
</td></tr><tr><td>January 19 --- Paul (NØKIA)</td><td>May 18 --- Brian (KW3K)</td><td>September 21 --- Dorian (KB3GZW)
</td></tr><tr><td>January 26 --- Paul (NØKIA)</td><td>May 25 --- Memorial Day (No Net)</td><td>September 28 --- Jeff (N3MFT)
</td></tr><tr><td></td><td></td><td>&nbsp;
</td></tr><tr><td><em><strong>February 2015</strong></em></td><td><em><strong>June 2015</strong></em></td><td><em><strong>October 2015
</strong></em></td></tr><tr><td>February 2 --- Rod (N3XG)</td><td>June 1 --- Paul (NØKIA)</td><td>October 5 --- Brian (KW3K)
</td></tr><tr><td>February 9 --- Matt (KB3UZE)</td><td>June 8 --- Mark (AK3M)</td><td>October 12 --- Paul (NØKIA)
</td></tr><tr><td>February 16 ---  Robin (KB3GZV)</td><td>June 15 --- Rod (N3XG)</td><td>October 19 --- Mark (AK3M)
</td></tr><tr><td>February 23 ---  Dorian (KB3GZW)</td><td>June 22 --- Matt (KB3UZE)</td><td>October 26 --- Mark (AK3M)
</td></tr><tr><td></td><td>June 29 --- Robin (KB3GZV)</td><td>
</td></tr><tr><td><em><strong>March 2015</strong></em></td><td></td><td><em><strong>November 2015
</strong></em></td></tr><tr><td>March 2 --- Mark (AK3M)</td><td><em><strong>July 2015</strong></em></td><td>November 2 --- Matt (KB3UZE)
</td></tr><tr><td>March 9 --- Jeff (N3MFT)</td><td>July 6 --- Dorian (KB3GZW)</td><td>November 9 --- Robin (KB3GZV)
</td></tr><tr><td>March 16 ---  Brian (KW3K)</td><td>July 13 --- Jeff (N3MFT)</td><td>November 16 --- Dorian (KB3GZW)
</td></tr><tr><td>March 23 --- Paul (NØKIA)</td><td>July 20 --- Mark (AK3M)</td><td>November 23 --- Jeff (N3MFT)
</td></tr><tr><td>March 30 ---  Mark (AK3M)</td><td>July 27 --- Brian (KW3K)</td><td>November 30 --- Mark (AK3M)
</td></tr><tr><td></td><td></td><td>&nbsp;
</td></tr><tr><td><em><strong>April 2015</strong></em></td><td><em><strong>August 2015</strong></em></td><td><em><strong>December 2015
</strong></em></td></tr><tr><td>April 6 ---  Rod (N3XG)</td><td>August 3 --- Paul (NØKIA)</td><td>December 7 --- Mark (AK3M)
</td></tr><tr><td>April 13 --- Matt (KB3UZE)</td><td>August 10 --- Mark (AK3M)</td><td>December 14 --- Brian (KW3K)
</td></tr><tr><td>April 20 --- Robin (KB3GZV)</td><td>August 17 --- Rod (N3XG)</td><td>December 21 --- Paul (NØKIA)
</td></tr><tr><td>April 27 --- Dorian (KB3GZW)</td><td>August 24 --- Matt (KB3UZE)</td><td>December 28 --- Mark (AK3M)
</td></tr><tr><td></td><td>August 31 --- Mark (AK3M)</td><td>
</td></tr></tbody></table>
</center>
