<script>
function initializeGoogleMaps(id, options, callback) {
    var mapOptions = {
      zoom: options.zoom,
      center: new google.maps.LatLng(0, 0),
      disableDefaultUI: options.disableDefaultUI,
      mapTypeId: eval(options.maptype)
    };

    // load the map
    map = new google.maps.Map(document.getElementById(id),
        mapOptions);

    if(options.address && options.address != "") {
        var geocoder = new google.maps.Geocoder(),
            geocoderRequest = {address: options.address};

        geocoder.geocode(geocoderRequest, function(geocoderResult, geocoderStatus) {
            if (geocoderStatus == google.maps.GeocoderStatus.OK) {
                map.setCenter(geocoderResult[0].geometry.location);

                marker = new google.maps.Marker({
                  map: map
                });
                marker.setPosition(geocoderResult[0].geometry.location);
            } else {
            }
        });
    }

    // calls OnLoad event if exists
    if(callback) setTimeout(callback, 0);

    return map;
}
</script>

<style type="text/css">
.GoogleMap {
	height: 400px;
	width: 600px;
}
.angular-google-map-container { height: 400px; }
</style>

<div style="text-align: left;">
<p>Our club operates the following repeaters:</p>
<h4>146.94/146.34 (71.9 Hz)</h4>
<div id="Repeater14694">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5555.04913692569!2d-75.39238908415503!3d40.60976474344227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c43e8b54833fd7%3A0xb83aeff74dca3a88!2sSt.+Luke&#39;s+University+Health+Network!5e0!3m2!1sen!2sus!4v1455153788483" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	<!-- <ui-gmap-google-map address='map94.address' zoom='map94.zoom'></ui-gmap-google-map> -->
	<!-- <div id="GoogleMap1" class="GoogleMap"></div> -->
	<!-- <script>
	// var GoogleMap1_map = initializeGoogleMaps('GoogleMap1', {"zoom":13,"address":"St Lukes Bethlehem, PA","disableDefaultUI":false,"maptype":"google.maps.MapTypeId.MAP"},  null);
	</script> -->
</div>

<h4>147.135/147.735 (DCS 315 Normal) - Yaesu System Fusion (Automatic Mode Selection Enabled)</h4>
<div id="Repeater14735">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4881.325096014664!2d-75.43934517121455!3d40.564652171021145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c43b8603b0d2c1%3A0x74cdd90a18114d76!2sWFMZ-TV+Channel+69!5e0!3m2!1sen!2sus!4v1455153900322" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	<!-- <ui-gmap-google-map address='map135.address' zoom='map135.zoom'></ui-gmap-google-map> -->
	<!-- <div id="GoogleMap2" class="GoogleMap"></div> -->
	<!-- <script>
	// var GoogleMap2_map = initializeGoogleMaps('GoogleMap2', {"zoom":13,"address":"WFMZ-TV Channel 69, East Rock Road, Allentown, PA","disableDefaultUI":false,"maptype":"google.maps.MapTypeId.MAP"},  null);
	</script> -->
</div>
<br>
<p>The W3OI Dstar repeaters are now on 147.165 (plus offset of 600 Khz) and
445.025 (minus offset of 5 Mhz). If you want to register for the Gateway or
need information on setting up the radio please visit
<A HREF="https://w3oi.dstargateway.org">the EPA Dstar page</A> as your first step.</p>
<!--<p>(Please note, both the Module A and Module B repeaters are out of service until further notice for maintenence.)</p>-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4881.325096014664!2d-75.43934517121455!3d40.564652171021145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c43b8603b0d2c1%3A0x74cdd90a18114d76!2sWFMZ-TV+Channel+69!5e0!3m2!1sen!2sus!4v1455153900322" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
