<footer>
	<div class="container-fluid">
		<!-- <div class="row"> -->
			<!-- <div class="col-sm-10 col-sm-offset-1"> -->
				<!-- <span id="sendlink" name="sendlink"></span> -->
			<!-- </div> --><!-- col-sm-10 col-sm-offset-1 -->
		<!-- </div> --><!-- row -->
		<!-- <div class="row"> -->
			<!-- <div class="col-xs-12">
        This site is dedicated to Paul Ryan (N&Oslash;KIA) for his orginal contributions
        in creating and maintaining the original site and its database.
			</div> --><!-- col-xs-10 col-sm-offset-1 -->
		<!-- </div> --><!-- row -->
		<div class="row">
			<div class="col-xs-7 string">
				<div class="hidden-xs" id="todaysdate" name="todaysdate"></div>
				<div class="hidden-sm hidden-md hidden-lg" id="smalldate" name="smalldate"></div>
			</div><!-- col-xs-7 col-xs-offset-1 -->
			<!-- <div class="col-sm-4 col-sm-offset-1 no-col-xs number">
				<span id="copyright" name="copyright">Copyright 2016 LVARC W3OI</span>
			</div> --><!-- col-sm-4 col-xs-offset-1 -->
			<div class="col-xs-5 number">
				<div class="hidden-xs" id="copyright" name="copyright">Copyright&copy; 2016-2018 LVARC W3OI</div>
				<div class="hidden-sm hidden-md hidden-lg" id="copyright" name="copyright">&copy;2016 LVARC</div>
			</div><!-- col-xs-4 col-xs-offset-1 -->
		</div><!-- row -->

	</div><!-- container-fluid -->
</footer>

<script language="javascript">

	var now = new Date();
	document.getElementById('todaysdate').innerHTML = now.format("dddd, mmmm dS, yyyy, h:MM TT Z");
	document.getElementById('smalldate').innerHTML = now.format("dd/mm/yyyy h:MM TT");

</script>
