<footer>
	<div class="container-fluid">
        This site is dedicated to Paul Ryan, N0KIA, for his orginal contributions
        in creating this site, maintaining it and it's database.
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<span id="sendlink" name="sendlink"></span>
			</div><!-- col-sm-8 col-sm-offset-2 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				Today is : <span id="todaysdate" name="todaysdate"></span>
			</div><!-- col-sm-8 col-sm-offset-2 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<span id="copyright" name="copyright">Copyright 2016 LVARC W3OI</span>
			</div><!-- col-sm-8 col-sm-offset-2 -->
		</div><!-- row -->

	</div><!-- container-fluid -->
</footer>

<script language="javascript">

	// var content = "For any additions, or corrections to content, please contact a <A href='officers.php'>club officer</A> ";
	// content = content + ", or the <a href='mailto:";
	// content = content + "&#112;&#97;&#108;&#109;&#101;&#114;&#116;&#111;&#110;&#114;&#103;&#99;&#119;&#101;&#98;&#109;&#97;&#115;&#116;&#101;&#114;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;";
	// content = content + "?subject=Palmertonrgc.org%20Web%20Site%20questions";
	// content = content + "'>webmaster</a>";
	// document.getElementById('sendlink').innerHTML = content;
	document.getElementById('todaysdate').innerHTML = Date();

</script>
