	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<a href="#/home"><IMG src="images/w3oi_logo.png" alt="" border="0"><BR></a>
				</div>
				<!-- <div class="col-sm-10 col-sm-offset-2"> -->
				<div class="col-sm-8">
					<H1>Lehigh Valley Amateur Radio Club</H1>
				</div>
				<div class="col-sm-2">
					<a href="http://www.arrl.org/" target="_blank"><IMG src="images/arrl_logo.png" height="110" width="55" alt="" border="0"><BR></a>
				</div>
			</div>
		</div>
	</div>
