<nav id="sidenav" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" data-spy="affix">
	<div class="row panel">
		<div class="col-xs-12">
			<ul class="nav bs-docs-sidenav">
				<ng-include src="'layout/navigation.html'"></ng-include> 
			</ul>
			<a id="fblink" href="https://www.facebook.com/pages/Palmerton-Rod-Gun-Club/102616326492524?ref=ts&fref=ts" target="_blank"><img src="images/facebook_button.jpg" width="102" height="31"></a>        </div><!--/.nav-collapse -->
		</div>
	</div>
</nav>
